# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Environment variables and secrets
.env
.env.*

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
